<div class="row">
    <ul class="list-group row">

        <li ng-repeat="movies in Movies.predefinedMovies" class="list-group-item"
            style="border-left:0;border-right:0; ">
            <div class="row col-md-12 col-xs-12">
                <div class="col-auto col-md-4 col-sm-4 pull-left">
                    <img src="{{movies.Poster}}"
                         class="img-response img-thumbnail img-custom">

                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 ">
                    <h3 style="">
                        <b>{{movies.Title}}</b>
                        <small style="color:gray;font-size: 16px;">{{movies.Year}}</small>
                    </h3>
                    <div class="col-md-12 col-xs-12 row">
                        <div class="row">
                            <i class="fa fa-star" style="color: yellow"></i>
                            <label class="label label-primary">
                                <i class="fa fa-imdb " style="font-size: 14px;"></i>
                                {{movies.imdbRating}},
                                {{movies.imdbVotes}} votes
                            </label>

                        </div>

                        <div class="row">
                            <span class="col-md-12 movie-label col-xs-12"><b>Type : </b> {{movies.Type}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Released : </b> {{movies.Released}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Actors : </b>
                             <ul>
                                    <li ng-repeat="actor in Movies.splitString(movies.Actors)">{{actor}}</li>
                                </ul>

                            </span>

                            <span class="col-md-12 movie-label col-xs-12"><b>Awards: </b> {{movies.Awards}}</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 row">
                        <br>
                        <b>{{Movies.moviePlot}} Plot :</b> {{movies.Plot}}
                    </div>
                </div>


            </div>

        </li>
    </ul>
</div>

