<div class="">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input ng-model="Movies.movieTitle" ng-keyup="Movies.searchMovie(Movies.movieTitle)"
                               class="form-control form-control form-control-borderless" type="search"
                               placeholder="Search movie title">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-success" ng-click="Movies.changeMoviePlot()" type="submit">
                            {{Movies.moviePlot}}
                            plot
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <div class="card-block">
        <br>
        <div ng-if="Movies.request.error" class="alert alert-danger col-md-12">
            {{Movies.request.message}}
        </div>
        <div ng-if="Movies.request.requestStatus" class="alert alert-info col-md-12">
            <i class="fa fa-spinner fa-spin"></i> {{Movies.request.message}}
        </div>
        <div ng-if="Movies.request.status" class="alert alert-warning col-md-12">
            <i class="fa fa-exclamation"></i> {{Movies.request.message}}
        </div>

        <div ng-if="Movies.movieDetails && !Movies.request.requestStatus">
            <div class="row col-md-12 col-xs-12">
                <div class="col-auto col-md-4 col-sm-4 pull-left">
                    <img src="{{Movies.movieDetails.Poster}}"
                         class="img-response img-thumbnail img-custom">

                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 ">
                    <h3 style="">
                        <b>{{Movies.movieDetails.Title}}</b>
                        <small style="color:gray;font-size: 16px;">{{Movies.movieDetails.Year}}</small>
                    </h3>
                    <div class="col-md-12 col-xs-12 row">
                        <div class="row">
                            <i class="fa fa-star" style="color: yellow"></i>
                            <label class="label label-primary">
                                <i class="fa fa-imdb " style="font-size: 14px;"></i>
                                {{Movies.movieDetails.imdbRating}},
                                {{Movies.movieDetails.imdbVotes}} votes
                            </label>

                        </div>

                        <div class="row">
                            <span class="col-md-12 movie-label col-xs-12"><b>Type : </b> {{Movies.movieDetails.Type}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Released : </b> {{Movies.movieDetails.Released}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Actors : </b>
                             <ul>
                                    <li ng-repeat="actor in Movies.splitString(Movies.movieDetails.Actors)">{{actor}}</li>
                                </ul>

                            </span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Runtime : </b> {{Movies.movieDetails.Runtime}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Genre: </b>
                                <ul>
                                    <li ng-repeat="genre in Movies.splitString(Movies.movieDetails.Genre)">{{genre}}</li>
                                </ul>
                            </span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Director: </b> {{Movies.movieDetails.Director}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Writer: </b>
                            <ul>
                                    <li ng-repeat="writer in Movies.splitString(Movies.movieDetails.Writer)">{{writer}}</li>
                                </ul>

                            </span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Language: </b>

                            <ul>
                                        <li ng-repeat="lang in Movies.splitString(Movies.movieDetails.Language)">
                                           {{lang}}

                                        </li>
                                    </ul>
                            </span>
                            <span class="col-md-12 movie-label col-xs-12"><b>Awards: </b> {{Movies.movieDetails.Awards}}</span>
                            <span class="col-md-12 movie-label col-xs-12"><b>
                                    List of ratings: </b>
                                    <ul>
                                        <li ng-repeat="rate in Movies.movieDetails.Ratings">
                                            {{rate.Source}} <span class="badge badge-secondary">{{rate.Value}}</span>

                                        </li>
                                    </ul>
                                </span>
                        </div>
                    </div>
                </div>


            </div>


            <div class="col-md-12 col-xs-12">
                <br>
                <b>{{Movies.moviePlot}} Plot :</b> {{Movies.movieDetails.Plot}}
            </div>
        </div>

    </div>

</div>