<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="AppMovieModule" ng-cloak="">
<head>
    <title>Sogeti</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="assets/css/custom-css.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="assets/app.js"></script>

    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">


</head>
<body ng-controller="AppMainController">

<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">{{Movies.settings.appName}}</a>

    <!-- Toggler/collapsibe Button -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/featured">Featured Movies</a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-xs-12 col-sm-12">
   <ng-view></ng-view>
</div>

</body>
</html>
