*{
    border-radius: 0!important;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.img-custom{
    /*height: 100px;*/
    width: 100%;
}